av==14.3.0
certifi==2025.1.31
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.1
#chatgpt_service @ git+https://github.com/Sheesh1006/proto.git@d39873b57109a2940c5458ab0b528e72d92017cd#subdirectory=gen/chatgpt_service
git+https://${GITHUB_TOKEN}@github.com/Sheesh1006/proto.git@main#subdirectory=gen/chatgpt_service
coloredlogs==15.0.1
ctranslate2==4.6.0
easyocr==1.7.2
faster-whisper==1.1.1
ffmpeg-python==0.2.0
filelock==3.18.0
flatbuffers==25.2.10
fsspec==2025.3.2
future==1.0.0
grpcio==1.71.0
grpcio-tools==1.71.0
huggingface-hub==0.30.2
humanfriendly==10.0
idna==3.10
ImageHash==4.3.2
imageio==2.37.0
Jinja2==3.1.6
joblib==1.4.2
lazy_loader==0.4
MarkupSafe==3.0.2
mpmath==1.3.0
munch==4.0.0
networkx==3.4.2
ninja==1.11.1.4
numpy==2.2.4
onnxruntime==1.21.0
opencv-python==4.11.0.86
opencv-python-headless==4.11.0.86
packaging==24.2
pillow==11.2.1
protobuf==5.29.4
pyclipper==1.3.0.post6
pycparser==2.22
python-bidi==0.6.6
PyWavelets==1.8.0
PyYAML==6.0.2
regex==2024.11.6
reportlab==4.3.1
requests==2.32.3
safetensors==0.5.3
scikit-image==0.25.2
scikit-learn==1.6.1
scipy==1.15.2
sentence-transformers==4.0.2
setuptools==78.1.0
shapely==2.1.0
soundfile==0.13.1
sympy==1.13.1
threadpoolctl==3.6.0
tifffile==2025.3.30
tokenizers==0.21.1
torch==2.6.0
torchvision==0.21.0
tqdm==4.67.1
transformers==4.51.3
typing_extensions==4.13.2
urllib3==2.4.0
